
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="76x76" href="~/material-dashboard-master/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/material-dashboard-master/assets/img/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    @if (!Convert.ToBoolean(ViewData["IsAdmin"]))
    {
        <title>@ViewData["Title"]</title>
    }

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />


    <!-- Nucleo Icons -->
    <link href="~/material-dashboard-master/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/material-dashboard-master/assets/css/nucleo-svg.css" rel="stylesheet" />

    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

    <!-- CSS Files -->
    <link id="pagestyle" href="~/material-dashboard-master/assets/css/material-dashboard.css?v=3.0.4" rel="stylesheet" />
    <link id="pagestyle" href="~/css/site.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    
</head>

@{
    var categoryListStr = HttpContextAccessor.HttpContext.Session.GetString("CategoryList");
    var categoryList = string.IsNullOrEmpty(categoryListStr) ? new List<CategoryModel>() : JsonSerializer.Deserialize<List<CategoryModel>>(categoryListStr);
}


<body class="g-sidenav-show  bg-gray-100 bckground">

    @if (Convert.ToBoolean(ViewData["IsAdmin"]))
    {
        <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-sidebarnav" id="sidenav-main">

            <div class="sidenav-header">
                <i class="fas fa-times p-3 cursor-pointer text-white-sidenav opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
                <a class="navbar-brand m-0 text-center" style="font-size:large" href="#" target="_self">
                    <span class="ms-1 font-weight-bold text-white-sidenav">ADMIN PANEL </span>
                </a>
            </div>
            <hr class="horizontal light mt-0 mb-2">
            <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main" style="height:60%">
                <ul class="navbar-nav">

                    @*User Section*@
                    <li class="nav-item mt-3">
                        <h6 class="ps-4 ms-2 text-uppercase text-xs text-white-sidenav font-weight-bolder opacity-8">USER</h6>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white-sidenav " asp-controller="AdminUser" asp-action="Add">

                            <div class="text-white-sidenav text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                            <span class="nav-link-text ms-1">Add</span>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white-sidenav " asp-controller="AdminUser" asp-action="List">

                            <div class="text-white-sidenav text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fa-solid fa-list"></i>
                            </div>
                            <span class="nav-link-text ms-1">List</span>
                        </a>
                    </li>
                    @*Category Section*@
                    <li class="nav-item mt-3">
                        <h6 class="ps-4 ms-2 text-uppercase text-xs text-white-sidenav font-weight-bolder opacity-8">CATEGORY</h6>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white-sidenav " asp-controller="AdminCategory" asp-action="Add">

                            <div class="text-white-sidenav text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fa-solid fa-plus"></i>
                            </div>

                            <span class="nav-link-text ms-1">Add</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white-sidenav " asp-controller="AdminCategory" asp-action="List">

                            <div class="text-white-sidenav text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fa-solid fa-list"></i>
                            </div>
                            <span class="nav-link-text ms-1">List</span>
                        </a>
                    </li>

                    @*Product Section*@
                    <li class="nav-item mt-3">
                        <h6 class="ps-4 ms-2 text-uppercase text-xs text-white-sidenav font-weight-bolder opacity-8">PRODUCT</h6>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white-sidenav " asp-controller="AdminProduct" asp-action="Add">

                            <div class="text-white-sidenav text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fa-solid fa-plus"></i>
                            </div>

                            <span class="nav-link-text ms-1">Add</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white-sidenav " asp-controller="AdminProduct" asp-action="List">

                            <div class="text-white-sidenav text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fa-solid fa-list"></i>
                            </div>
                            <span class="nav-link-text ms-1">List</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white-sidenav " href="/Login/Index">

                            <div class="text-white-sidenav text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">login</i>
                            </div>

                            <span class="nav-link-text ms-1">Sign Out</span>
                        </a>
                    </li>


                </ul>
            </div>

            <div class="sidenav-footer position-absolute w-100 bottom-0 ">
            </div>

        </aside>
        <main class="main-content border-radius-lg"  >
            <!-- Navbar -->

            <nav class="navbar navbar-main  navbar-expand-lg my-auto px-0 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
                <div class="container-fluid py-1 px-3">

                    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                        <div class="ms-md-auto pe-md-3 d-flex align-items-center">

                            <div class="input-group input-group-outline" style=" color:rgb(156,39,176)">
                                <span class="d-sm-inline d-none" style=" color:rgb(156,39,176)">Welcome!!!</span>
                            </div>

                        </div>
                        <ul class="navbar-nav  justify-content-end">

                            <li class="nav-item d-flex align-items-center">
                                <a href="/Login/Index" class="nav-link text-body font-weight-bold px-0">
                                    <i class="fa fa-user me-sm-1" style=" color:rgb(156,39,176)"></i>

                                    <span class="d-sm-inline d-none" style=" color:rgb(156,39,176)">Sign Out</span>

                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>

            <!-- End Navbar -->

            <div class="container-fluid py-4">

                @RenderBody()

            </div>

        </main>
    }
    else
    {
        <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-sidebarnav " id="sidenav-main">


            <div class="sidenav-header">
                <i class="fas fa-times p-3 cursor-pointer text-white-sidenav opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
                <a class="navbar-brand m-0 text-center" style="font-size:large" href="/Home/Index">

                    <span class="ms-1 font-weight-bold text-white-sidenav">SHOPPING WEB </span>
                </a>
            </div>
            <hr class="horizontal light mt-0 mb-2">
            <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main" style="height:60%">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link text-white-sidenav" href="/Home/Index">

                            <div class="text-white-sidenav text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">dashboard</i>
                            </div>

                            <span class="nav-link-text ms-1">PRODUCTS</span>
                        </a>
                    </li>




                    <li class="nav-item mt-3">
                        <h6 class="ps-4 ms-2 text-uppercase text-xs text-white-sidenav font-weight-bolder opacity-8">CATEGORIES</h6>
                    </li>

                    @foreach (var item in categoryList)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white-sidenav " href="/Home/ProductsByCategory?categoryId=@item.Id">

                                <div class="text-white-sidenav text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="@item.Icon" aria-hidden="true"></i>
                                </div>

                                <span class="nav-link-text ms-1">@item.Name</span>
                            </a>
                        </li>
                    }



                    <li class="nav-item mt-3">

                        <h6 class="ps-4 ms-2 text-uppercase text-xs text-white-sidenav font-weight-bolder opacity-8"> PROFILE</h6>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white-sidenav " href=/Profile/Index>

                            <div class="text-white-sidenav text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </div>

                            <span class="nav-link-text ms-1" id="profile">My Profile</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white-sidenav " href="/Delivery/Index">

                            <div class="text-white-sidenav text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fa fa-truck" aria-hidden="true"></i>
                            </div>

                            <span class="nav-link-text ms-1">My Orders</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white-sidenav " href="/Login/Index">

                            <div class="text-white-sidenav text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">login</i>
                            </div>

                            <span class="nav-link-text ms-1">Sign Out</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="sidenav-footer position-absolute w-100 bottom-0 ">
            </div>

        </aside>
        <main class="main-content border-radius-lg ">
            <!-- Navbar -->

            <nav class="navbar navbar-main  navbar-expand-lg my-auto px-0 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
                <div class="container-fluid py-1 px-3">

                    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                        <div class="ms-md-auto pe-md-3 d-flex align-items-center">

                            <div class="input-group input-group-outline">
                                <label class="form-label">Search ...</label>
                                <input type="text" class="form-control" id="search" />
                            </div>

                        </div>
                        <ul class="navbar-nav justify-content-end ">
                            <li class="nav-item d-flex align-items-center">
                                <a href="/Favorite/Index" class="nav-link text-body font-weight-bold px-0">
                                    <i class="fa-sharp fa-solid fa-heart" style=" color:rgb(156,39,176)"></i>
                                    <span class="d-sm-inline d-none" style=" color:rgb(156,39,176)">Favorite</span>
                                    <span class="top-10 start-80 translate-middle badge rounded-pill mx-3" style="background-color: rgb(156,39,176);" id="favoriteQuantity">
                                        @ViewData["FavoriteQuantity"]
                                    </span>

                                </a>
                            </li>

                            <li class="nav-item d-flex align-items-center">
                                <a href="/Cart/Index" class="nav-link text-body font-weight-bold px-0">
                                    <i class="fa-solid fa-cart-shopping" style=" color:rgb(156,39,176)"></i>
                                    <span class="d-sm-inline d-none" style=" color:rgb(156,39,176)">Cart</span>
                                    <span id="navbarCartsQuantity" class="top-10 start-80 translate-middle badge rounded-pill mx-3" style="background-color: rgb(156,39,176);height:100% ;">
                                        @ViewData["TotalCartsQuantity"]
                                    </span>

                                </a>
                            </li>
                            <li class="nav-item d-flex align-items-center">
                                <a href="/Login/Index" class="nav-link text-body font-weight-bold px-0">
                                    <i class="fa fa-user me-sm-1" style=" color:rgb(156,39,176)"></i>

                                    <span class="d-sm-inline d-none" style=" color:rgb(156,39,176)">Sign Out</span>

                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>

            <!-- End Navbar -->

            <div class="container-fluid py-4">

                @RenderBody()

            </div>

        </main>
    }



    <div class="col-lg-3 col-sm-6 col-12">
        <button class="btn bg-gradient-success w-100 mb-0 toast-btn" type="button" data-target="successToast" style="display: none;">Success</button>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 mt-sm-0 mt-2">
        <button class="btn bg-gradient-info w-100 mb-0 toast-btn" type="button" data-target="infoToast" style="display: none;">Info</button>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 mt-lg-0 mt-2">
        <button class="btn bg-gradient-warning w-100 mb-0 toast-btn" type="button" data-target="warningToast" style="display: none;">Warning</button>
    </div>
    <button class="btn bg-gradient-danger w-100 mb-0 toast-btn" type="button" data-target="dangerToast" style="display: none;">
    </button>
    <div class="toast fade hide p-2 mt-2 bg-white z-index-3" role="alert" aria-live="assertive" id="dangerToast" aria-atomic="true" style="position: fixed; right: 10px; top: 10px;">
        <div class="toast-header border-0">
            <i class="material-icons text-danger me-2">
                campaign
            </i>
            <span class="me-auto text-gradient text-danger font-weight-bold">Material Dashboard </span>
            <small class="text-body">11 mins ago</small>
            <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
        </div>
        <hr class="horizontal dark m-0">
        <div class="toast-body">
            Hello, world! This is a notification message.
        </div>
    </div>
    <div class="toast fade hide p-2 bg-white z-index-3" role="alert" aria-live="assertive" id="successToast" aria-atomic="true" style="position: fixed; right: 10px; top: 10px;">
        <div class="toast-header border-0">
            <i class="material-icons text-success me-2">
                check
            </i>
            <span class="me-auto font-weight-bold">Material Dashboard </span>
            <small class="text-body">11 mins ago</small>
            <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
        </div>
        <hr class="horizontal dark m-0">
        <div class="toast-body">
            Hello, world! This is a notification message.
        </div>
    </div>
    <div class="toast fade hide p-2 mt-2 bg-gradient-info z-index-3" role="alert" aria-live="assertive" id="infoToast" aria-atomic="true" style="position: fixed; right: 10px; top: 10px;">
        <div class="toast-header bg-transparent border-0">
            <i class="material-icons text-white-sidenav me-2">
                notifications
            </i>
            <span class="me-auto text-white-sidenav font-weight-bold">Material Dashboard </span>
            <small class="text-white-sidenav">11 mins ago</small>
            <i class="fas fa-times text-md text-white-sidenav ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
        </div>
        <hr class="horizontal light m-0">
        <div class="toast-body text-white-sidenav">
            Hello, world! This is a notification message.
        </div>
    </div>
    <div class="toast fade hide p-2 mt-2 bg-white z-index-3" role="alert" aria-live="assertive" id="warningToast" aria-atomic="true" style="position: fixed; right: 10px; top: 10px;">
        <div class="toast-header border-0">
            <i class="material-icons text-warning me-2">
                travel_explore
            </i>
            <span class="me-auto font-weight-bold">Material Dashboard </span>
            <small class="text-body">11 mins ago</small>
            <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
        </div>
        <hr class="horizontal dark m-0">
        <div class="toast-body">
            Hello, world! This is a notification message.
        </div>
    </div>

    <!--   Core JS Files   -->
    <script src="~/material-dashboard-master/assets/js/core/popper.min.js"></script>
    <script src="~/material-dashboard-master/assets/js/core/bootstrap.min.js"></script>
    <script src="~/material-dashboard-master/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/material-dashboard-master/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }

        function notificationAlert(type, header, body, time = "") {
            var id = "";
            var btnClass = "";

            if (header == "" || header == undefined)
                header = type;

            switch (type) {
                case "danger" || "Danger":
                    id = "dangerToast";
                    btnClass = "bg-gradient-danger";
                    break;
                case "success" || "Success":
                    id = "successToast";
                    btnClass = "bg-gradient-success";
                    break;
                case "info" || "Info":
                    id = "infoToast";
                    btnClass = "bg-gradient-info";
                    break;
                case "warning" || "Warning":
                    id = "warningToast";
                    btnClass = "bg-gradient-warning";
                    break;
                default:
            }

            $("#" + id + " .toast-header span")[0].innerText = header;
            $("#" + id + " .toast-header small")[0].innerText = time;
            $("#" + id + " .toast-body")[0].innerText = body;
            $("." + btnClass).click()
        }

        $(function () {
            $("#search").keypress(function (e) {
                // if the key pressed is the enter key
                if (e.which == 13) {
                    var data = $("#search").val();
                    window.location.href = "/Home/Search?searchName=" + data;
                }
            })
        });

        
            
    </script>

    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/material-dashboard-master/assets/js/material-dashboard.min.js?v=3.0.4"></script>
</body>

</html>
