@{

}
@model List<ProductModel>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-lg-4 col-md-4 mt-4 mb-4">

            <div class="card z-index-2 mt-4 mx-auto" style="height:95%; width:100%">

                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">

                    <div class="z-index-3 position-absolute text-end mx-4 mt-3 bg-transparent " style="width:90%;height:50%">
                        <button className="btn btn-danger favori-btn" style="border-radius: 5px; border-width: 0px; color:rgb(255 255 255);border-color: rgb(123,128,154);background-color: rgb(229,51,113); width: 45px;height: 38px;">
                            <i class="fa-solid fa-heart-circle-plus"></i>
                        </button>
                    </div>
                    <div class="shadow-primary z-index-2">
                        @* <div class="chart">
                    <canvas id="chart-bars" class="chart-canvas" height="170"></canvas>
                    </div>*@
                        <img class="rounded-3 " style="width: 100%;height:300px " src=@item.ImgLink />
                    </div>

                </div>
                <div class="card-body text-center">
                    <h6 class="mb-0 ">@item.Title</h6>
                    <p class="text-sm "> <b>Category: </b>@item.Category.Name </p>
                    <p class="text-sm truncate" style="height:45px;">@item.Description</p>
                    <h4 class="mb-0 "> @string.Format("{0:N1} €", item.Price) </h4>
                    <hr class="dark horizontal">
                    <div class=" text-center mx-auto">
                        <div class="text-center">
                            <a class="btn bg-gradient-primary w-50 " onclick="addToCart(@item.Id)">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    function addToCart (productId){

        $.ajax({
            url: '@Url.Action("AddToCart","Home")',
            type: 'POST',
            dataType: 'json',
            data: 
                { 
                    productId: productId  
                },
            success: function (result) {

                if (result) {
                    notificationAlert("success", "SUCCESS!!!", "The product has been added to cart successfully!!!")

                    $.ajax({
                        url: '@Url.Action("GetCartQuantity","Home")',
                        type: 'POST',
                        dataType: 'json',
                        data:null,
                        success: function (quantity) {
                           $("#cartQuantity")[0].innerText = quantity;       
                        }
                    });
               }

               else{
                    notificationAlert("danger", "ERROR!!!", "The product has not been added to cart!!!")
               }
            },
            error: function (e) {

            }
        });
    }

</script>

